@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

body {
    font-family: 'Raleway';
    font-weight: normal;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

h2 {
    font-size: 14px;
    font-weight: 800;
}

p {
    font-size: 11px;
}
button {
    font-size: 10px;
    font-weight: 600;
}

i {
    font-size: 8px;
}
head {
    
}
.referencement { 
    display: none;
}

header #logo {
    padding-left: 25px;
    height: 20px;
    width: auto;
    align-items: baseline;
}

.favoritestyled {
    align-items: baseline;
    position: absolute;
    top: 0;
    right: 0;
}

.favoritestyled ul {
    margin: 0 ;
    padding-top: 0;
}

.favoritestyled li {
    display: inline-block;
    padding-top: 20px;
}

.favoritestyled li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    
}

.favoritestyled li a {
    text-decoration: none;
    color: black;
}

header #logo img {
    height: 300px;
    width: auto;
}

.rechercher

.rechercher i{
    padding-left: 5px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    

}

.rechercher input {
    max-height: 11px;
}

#recherche {    
    padding: 2px;
    padding-right: 5px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 0cm;
}

.badges button{
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    padding: 0;
}
.badges button i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
   
}

#info i {
    color: #0065FC;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding-left: 3px;
    padding-right: 3px;
}


nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 20px;
    margin-left: -30px;
}

figure img {
    max-width: 200px;
    flex-direction: column;
}

.hebergements {
    display: flex;
   justify-content: space-between;

}

 .hebergements img { 
    display: none; 
    si
}

.hebergements main {
    width: 65%;
    min-height: 100px; /*test*/
    background-color:#f2f2f2;
    border: 1px solid red; /*test*/
    border-radius: 20px 20px 20px 20px;


}

.hebergements main .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue; /*test*/
}

.hebergements main .locations>*{
    flex: 30px;
}

.hebergements main .locations figure {
    border: 1px solid orangered;
    border-radius: 15px;
   /* flex-direction: row;*/
    background-color: white;
  /*  max-width: 200px;*/
}
.hebergements main figure div {
    border: 1px solid pink;
    border-radius: 15px;
   /* width: auto;*/
}

.hebergements aside {
    width: 30%;
    min-height: 100px; /*test*/
    background-color:#f2f2f2;
    background-size: auto;
    border-radius: 20px 20px 20px 20px;
    align-items: block;
    border: 1px solid blue; /*test*/

}
.hebergements aside h2 {
    display: inline-block;
}

.hebergements aside +i {
    position: right;
    top: 10px;
    right: 10px;
}

.hebergements aside .populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green; /*test*/

}
.hebergements aside .populaires figure {
    background-color: white;
    border: 1px solid red; /*test*/
    image-resolution: 300px;
    border-radius: 20px 20px 20px 20px;
}

.activites {
    display: flex;
    border: 1px solid green;
    min-height: 100px; /*test*/
    flex-direction: row;
}

.activites div {
    flex-direction: column;
}

.activites img {
    display: none;
    size: 50px;
}

.footer {
  
}

.footer div  {
    display: table-cell;
}