@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

body {
    font-family: 'Raleway';
    font-weight: normal;
    color: black;
    margin: 0;
    padding: 2%;
    justify-content: center;
}

figure {
    margin: 0;
}

h1 {
    font-size: 16px;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    font-weight: 800;
}

p {
    font-size: 12px;
}
button {
    font-size: 12px;
    font-weight: 600;
}

i {
    font-size: 20px;
}
head {
    
}

.title {
    height: 90px;
}

.referencement { 
    display: none;
}

header #logo {
    margin: 0;
    height: 36px;
    width: auto;
    align-items: baseline;
}


.navigation {
    align-items: baseline;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.navigation ul {
    margin: 0 ;
    padding-top: 0;
}

.navigation li {
    display: inline-block;
    padding-top: 0px;
    font-size: 10px;
    padding: 20px;
    border-top: 2px solid white;
}

.navigation li:hover {
    border-top: 2px solid #0065FC;
    border-spacing: 20px;
    color: #0065FC;
    padding-bottom: 20px;
    
}

.navigation li a {
    text-decoration: none;
    color: black;
}

header #logo img {
    height: 300px;
    width: auto;
}

.rechercher {
    display: inline-block;
    width: 420px;
    height: 55px;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.rechercher i{
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    margin-right: 20px;
}

.rechercher input {
    width: 190px;
    border: none;

}

.rechercher button {    
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 0cm;
    width: 133px;
    height: 55px;
    position: absolute;
    right: 0;
}

.badges {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    width: 900px;
}

.badges p {
    font-weight: 800;
    justify-content: center;
}
.badges button{
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    width: auto;
    background-color: white;
    margin: 0;
    width: 192px;
}
.badges button i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 15px 15px 15px 15px;
    padding: 2px;
   
}

#info i {
    color: #0065FC;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding-left: 3px;
    padding-right: 3px;
}


nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 20px;
    margin-left: -30px;
}

figure img {
    max-width: 200px;
    flex-direction: column;
}

.hebergements {
    display: flex;
    justify-content: space-between;
    height: 630px;
    width: auto;
}

 .hebergements img { 
    /*display: none; 
    display: flex;
    overflow: hidden;
    max-width: 100%;
    max-height: 60%;*/
}

.hebergements main {
    width: 65%;
    min-height: 100px; /*test*/
    background-color:#f2f2f2;
    border-radius: 20px 20px 20px 20px;


}
.hebergements main img { 
    border-radius: 10px 10px 0 0;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 3px;
    max-height: 100%;
    object-fit: cover;
}

.hebergements main .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 430px;
    align-content: space-around;
}


.hebergements main .locations figure {
    /*border: 1px solid orangered;*/
    border-radius: 15px;
    min-height: 200px;
    width: 30%;
   /* flex-direction: row;*/
    background-color: white;
  /*  max-width: 200px;*/
}
.hebergements main figure div {
    /*border: 1px solid pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 3px;
    height: 20%;
    height: 115px;
    border-radius: 13px 13px 0 0  
}

.hebergements aside {
    margin-right: 1%;
    width: 30%;
    background-color:#f2f2f2;
    background-size: auto;
    border-radius: 20px 20px 20px 20px;
    align-items: block;
    /*border: 1px solid blue; test*/

}

.hebergements aside .title{
    display: inline-block;
    width: 100%;
}

.hebergements aside .title i {
    float: right;
}

.hebergements aside img {
    border-radius: 20px 0 0 20px;
   /* display: none;*/
    flex-shrink: 0;
    object-fit: cover;

 }

.hebergements aside h2 {
    display: inline-block;
}

.hebergements aside +i {
    position: right;
    top: 10px;
    right: 10px;
}

.hebergements aside .populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 530px;
    /*border: 1px solid green; test*/

}
.hebergements aside .populaires figure {
    background-color: white;
    /*border: 1px solid red; test*/
    border-radius: 20px 20px 20px 20px;
    height: 20%;
    width: 85%;
    justify-content: space-around;
    overflow: hidden;
    display: flex;
}

.hebergements aside .populaires figure div{
    border: solid 4px white;
    width: 35%;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.hebergements aside .populaires figcaption {
    width: 65%;
    margin: 0;
    padding-top: 0;
}



.activites {
    display: flex;
    border: 1px solid green;
    min-height: 100px; /*test*/
    flex-direction: row;
}

.activites div {
    flex-direction: column;
}

.activites img {
    display: none;
    size: 50px;
}

.footer {
  
}

.footer div  {
    display: table-cell;
}